.avatar {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile__name {
  font-weight: 700;
  font-size: 20px;
}

.profile__stats {
  display: flex;
  background-color: #f3f6f9;
}

.description {
  text-align: center;
}

.profile__stats_li {
  padding: 15px;
}

.profile__name {
  font-weight: 700;
  font-size: 20px;
}

.quantity {
  font-weight: 700;
}
